/* Contact us SITE */

.contact-container {
   width: 100%;
    background-color: white;
   
   
}

.contact-form {
    width: auto;
    padding: 3em;
    margin: 0 auto;
    background-color: #fff;
}
.contact-form h1 {
    width: 100%;
    color: black;
    text-align: center;
    padding: 0.6em;
    border-radius: 1em;
}

.contact-form button {
    background-color: rgb(55, 148, 30)!important;
    font-size: 1em!important;
    color: #fff!important;
}

.contact-form button:hover{
    filter: brightness(75%)
}

div .field {
    margin: 0.3em!important;
} 

.field-for-message {
    width: 72.5em!important;
    margin-left: -0.5em!important;
}


.ui.form .fields > .field {
    padding-left: 0!important;
    padding-right: 0!important;
}

.ui.multiple.dropdown > .label {
    background-color: #fff;
    color: black;
    font-weight: 400!important;
}

a.ui.label {
    font-size: 1em!important;
}

.field textarea {
    width: 100%!important;
}


