/* Contact us SITE */

.contact-container {
    align-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 15em;
    margin-left: 15em;
    margin-bottom: 3em;
    height: auto;
}

.contact-container input, textarea{
    color: #f7f7f7;
}

.contact-form {
    width: 100%;
    padding: 3em;
    background-color: #fff!important;

}

.confirmation-button-mail {
    background-color: #22AAEB!important;
    font-size: 1em!important;
    margin-left: -0.3em!important;

}

.confirmation-button-mail:hover {
    background-color: #fff!important;
    color: #22AAEB!important;
}

div .field {
    margin: 0.3em!important;
} 

.field-for-message {
    width: 69.5em!important;
    margin-left: -0.5em!important;
}


.ui.form .fields > .field {
    padding-left: 0!important;
    padding-right: 0!important;
}

.ui.multiple.dropdown > .label {
    background-color: #fff;
    color: black;
}



a.ui.label {
    font-size: 1em!important;
}

.contact-container h1{
    text-align: center;
    padding: 0.4em;
    margin: 0;
}

.contact-container img{
    width: 15em;
    margin: 0 auto;
    padding-bottom: 2em;
  
   
}