/* Contact us SITE */

.contact-container {
    align-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 20em;
    margin-left: 20em;
    margin-bottom: 1em;
}

.contact-container input, textarea{
    color: #f7f7f7;
    font-size: 0.88em!important;
}

.contact-form {
    width: 100%;
    padding: 3em;
    background-color: #fff!important;
    flex-direction: column;
}

.confirmation-button-mail {
    background-color: #22AAEB!important;
    font-size: 1em!important;
    margin-left: 0.3em!important;
}

.confirmation-button-mail:hover {
    background-color: #fff!important;
    color: #22AAEB!important;
}

div .field {
    margin: 0.3em!important;
} 

.ui.form .fields > .field {
    padding-left: 0!important;
    padding-right: 0!important;
}

.ui.multiple.dropdown > .label {
    background-color: #22AAEB;
    color: #fff;
}

.ui.multiple.dropdown > .label:hover {
    background-color: #fff;
    color: #22AAEB;
}




a.ui.label {
    font-size: 0.8em!important;
    padding-bottom: 0.7em!important;
}

.contact-container h1{
    text-align: center;
    padding: 0.4em;
    margin: 0;
}

.contact-container img{
    width: 15em;
    margin: 0 auto;
    padding-bottom: 2em;
  
   
}