
    body {
        margin: 0;
        font-family: 'PT Sans', sans-serif!important;
    }

    section .container-for-product-sheet {
        justify-content: flex-end;
        display: flex;
    }

    section .container-for-product-picture {
        width: 60em;
        display: flex;
        flex-direction: column;
    }

    section .container-for-product-picture img {
        height: auto;
    }

    .section-container-products {
        margin-left: 7em;
        margin-right: 7em;
        margin-top: 3em;
        margin-bottom: 3em;
        display: flex;
        border-radius: 0.2em;
        justify-content: center;    
    }

    section .information-about-product-text {
        font-family: 'PT Sans', sans-serif!important;
        font-size: 1.2em;
        margin-left: 4.5em;
        margin-right: 4.5em;
    }

    .key-capacity, .data-sheet  {
        display: none;
        margin-top: 2em;
        font-family: 'PT Sans', sans-serif!important;
        font-size: 1em;
        margin-left: 0 auto;
    }

    .data-sheet a {
        color: black;
    }

    .show-more-text-btn {
        background: transparent;
        border: none;
        outline: none;
        font-family: 'PT Sans', sans-serif!important;
    }

    .show-more-text-btn:hover {
        color: #22AAEB;
        cursor: pointer;
    }

    .show-less-text-btn {
        background: transparent;
        border: none;
        outline: none;
        font-family: 'PT Sans', sans-serif!important;
    }

    .show-less-text-btn:hover {
        color: #22AAEB;
        cursor: pointer;
    }

    /* Main home content */
    main {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url("../images/urban-438393_1920.jpg");
        background-size: cover;
        background-attachment: fixed;
        height: 75vh;
        width: 100%;
    }

    .home-wide-bg {
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .wide-text-content {
        height: 40em;
        width: 100%;
        margin-top: 4em;
        margin-bottom: 4em;
        background-image: url("../images/sunrise-3808121_1920.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-attachment: fixed;
        font-family: 'PT Sans', sans-serif!important;
    }

    .wide-text-content h1 {
        margin: 0;
        font-weight: bold;
        color: #fff;
    }

    .wide-text-content h3 {
        text-align: center;
        width: 50%;
        font-weight: 100;
        color: #e6e6e6;
    }

    .wide-text-btn {
        margin-top: 1em!important;
        background-color:#22AAEB!important;
        font-size: 3em;
        color: #fff!important;
        transition: all 0.3s ease 0s!important;
        font-family: 'PT Sans', sans-serif!important;
    }

    .wide-text-btn:hover {
        transform: translateY(-7px);
        color: #22AAEB!important;
        background-color: #fff!important;
      }


    .content a:hover {
        color: #22AAEB!important;
    }

    .content .header {
        font-family: 'PT Sans', sans-serif!important;
    }

    .h1-bg{
        font-size: 3em;
        color: #fff;
        margin: 0;
        font-family: 'PT Sans', sans-serif!important;
    }

    .description-bg {
        text-align: center;
        font-size: 2em;
        color: #fff;
        font-family: 'PT Sans', sans-serif!important;
    }

    .home-wide-btn {
        background-color: #22AAEB!important;
        font-size: 3em;
        color: #fff!important;
        transition: all 0.3s ease 0s!important;
        font-family: 'PT Sans', sans-serif!important;
    }

    .home-wide-btn:hover {
        transform: translateY(-7px);
        color: #22AAEB!important;
        background-color: #fff!important;
      }

    .cards-container {
        margin-top: 3em !important;
        margin-bottom: 6em!important;
    }

    .description p {
        color: #333;
        font-size: 1.3em;
        margin-top: 1em;
    }

/* Contact us SITE */

.contact-container {
    align-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 20em;
    margin-left: 20em;
    margin-bottom: 1em;
}

div .field {
    margin: 0.3em!important;
} 

.ui.form .fields > .field {
    padding-left: 0!important;
    padding-right: 0!important;
}

.ui.multiple.dropdown > .label {
    background-color: #22AAEB;
    color: #fff;
}

.ui.multiple.dropdown > .label:hover {
    background-color: #fff;
    color: #22AAEB;
}




a.ui.label {
    font-size: 0.8em!important;
    padding-bottom: 0.7em!important;
}

.contact-container h1{
    text-align: center;
    padding: 0.4em;
    margin: 0;
}

.contact-container img{
    width: 15em;
    margin: 0 auto;
    padding-bottom: 2em;
  
   
}
.contact-container input, textarea{
    color: #f7f7f7;
    font-size: 0.88em!important;
}

.contact-form {
    width: 100%;
    padding: 3em;
    background-color: #fff!important;
    flex-direction: column;
}

.confirmation-button-mail {
    background-color: #22AAEB!important;
    font-size: 1em!important;
    margin-left: 0.3em!important;
}

.confirmation-button-mail:hover {
    background-color: #fff!important;
    color: #22AAEB!important;
}

/* product container */
.container-for-product-sheet {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerForProducts {
    margin-top: 0.5em!important;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    
}

.container-for-product-picture img {
    height: 20em;
    width: 100%;
    display: flex;
    border-radius: 0.3em;
}

.information-about-product-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    padding: 0em 1em 1em 1em;
}


.section-container-products .for-specification {
    margin-top: 20px!important;
    border-radius: 10px!important;
}

.capacity-btn, .dataSheet-btn, .specs-btn, .warranty-btn{
    background-color: #fff!important;
    color: #22AAEB!important;
}

.section-container-products .button:hover {
    background-color: #fff!important;
    color: #000!important;
}

.container-for-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

/* divs should switch inbetween depending on which you click */

.key-capacity, .data-sheet  {
    display: none;
    margin-top: 1em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

.data-sheet a {
    color: #22AAEB;
}

.hidden-text-product {
    display: none;
}

.product-active-button {
    color: #000!important;
}

.show-more-text-btn {
/*     text-decoration: underline;
 */    margin-bottom: 1em;
    font-family: 'PT Sans', sans-serif;
}

.show-less-text-btn {
/*     text-decoration: underline;
 */    margin-bottom: 1em;
    font-family: 'PT Sans', sans-serif;
    display: none;
}

/* Press site */


.press-container {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    margin-top: 1em;
}

.press-container .press-post {
    padding: 2em;
   
}

.display-press-release {
    font-size: 0.8em;
}


.press-release-header {
    color: #000;
    width: 60%;
}


.press-post {
    width: 100%;
    padding: 2em;
}

.press-description {
    max-width: 50em;
    font-size: 1.2em;
    line-height: 1.5em;
}

article {
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
}

.margin-fix-cards {
    margin-top: 2em!important;
    margin-bottom: 2em!important;
}

/* facts and slogan site */

.main-facts-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 5em;
    margin-left: 8em;
    margin-right: 8em;
    font-family: 'PT Sans', sans-serif;
}

.main-facts-container {
    width: 50em;
    height: auto;
}

.picture-facts-header {
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 2.5em;
}

.picture-facts-header img {
    margin-top: 0.5em;
    width: 6em;
    height: 4em;
}

.picture-facts-header h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 550;
    margin-top: 0.1em!important;
}

.facts-header h3 {
    margin-top: 0.2em!important;
    font-weight: 300;
    margin-left: 3em;
    font-family: 'PT Sans', sans-serif;
}

.facts-header {
    display: flex;
    flex-direction: column;
}

.section-one-facts {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

.section-one-facts1 {
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
}

.section-one-facts1 h1 {
    border-bottom: 2px solid #22AAEB;
}

.container-facts-picture {
    width: 20em;
    height: 15em;
    margin-top: 11.7em;
}

.container-facts-picture img {
    width: 20em;
    height: 15em;
    border-radius: 0.2em;
}

.container-facts-picture2 img {
    width: 20em;
    height: 15em;
    margin-top: 3.5em;
    border-radius: 0.2em;

}

.paragraf-facts {
    line-height: 1.5em;
}

.wrapper-facts-picture {
    flex-direction: column;
}



