footer {
    position: relative;
    background-color: rgb(184, 192, 198)!important;
    width: 100%;
    height: auto;
    padding-top: 1em;
    font-family: 'Roboto Condensed'!important;
    bottom: 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto Condensed'!important;
}


.footerCompanyText h4 {
    margin: 0;
}

.footerTechnologyText h4 {
    margin: 0;
}

.footerProductsText h4 {
    margin: 0;
}

.footerCompanyText h3 {
    margin-top: 0.5em;
}

.footerTechnologyText h3 {
    margin-top: 0.5em;
}

.footerProductsText h3 {
    margin-top: 0.5em;
}

.footerLogo{
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.footerLogo img{
    width: 13em;
    height: 4em;
 }

.footerArrow {
    z-index: 2;
    position: absolute;
    top: -0.5em;
    width: 3em;
    height: 3em;
    left: 1em;
    outline: white;
} 

.adressInfo {
    width: 100%;
    color: rgb(75, 78, 84)!important;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 0.5em;
}

/* Social media on footer, icons etc styling */
.socialMediaIcons {
    width: 100%;
    text-align: center;
    color: #0077B5; 
    padding-bottom: 2em;
}

.socialMediaIcons .fa-linkedin-in {
    color: #0077B5;
    font-size: 1.5em;
}

.socialMediaIcons .fa-twitter {
    font-size: 1.5em;
    padding-left: 0.4em;
}

.socialMediaIcons .fa-envelope {
    color: #333;
    font-size: 1.5em;
    padding-left: 0.4em;
}

.fa-angle-up {
    color: rgb(118, 185, 230)!important;
}

.fa-angle-up:hover {
    color: rgb(75, 78, 84)!important;
}

/* do not display this footer text in mobile version */

.footer-wrapper h2 {
    color: rgb(75, 78, 84)!important;
}

/* Copyright and our credits */
.copyRight {
    height: auto;
    width: 100%;                
   background: #00001a;
    color: rgb(75, 78, 84);
    text-align: center;
}

.copyRight h6 {
    font-size: 0.9em;
    margin: 0;
    line-height: 2em;
}

/* These styles activates when screen goes OVER 768 pixels */
@media screen and (min-width: 768px) {
    

    footer .footerLogo img {
        width: 18em;
        margin: 0 auto;
        height: 5em;     
                   
    }
     
    footer .footer-wrapper {
        justify-content: space-around;
        display: flex;
    }


    .socialMediaIcons .fa-linkedin-in { 
        font-size: 2em;
        color: #0077B5;
    }


    .socialMediaIcons .fa-twitter {  
        font-size: 2em;      
        color: rgb(29, 161, 242)!important;
    }
    
    .socialMediaIcons .fa-envelope {  
        font-size: 2em;    
        color: black;
    }

    footer .fa-envelope:hover, .fa-twitter:hover, .fa-linkedin-in:hover {
        transform: scale(1.3);
    }

    footer .socialMediaIcons {
        text-align: center;
        width: auto;
        color: white!important;
        
    }

    footer .adressInfo {
        text-align: center;
        width: auto; 
    }

    footer .footerCompanyText {
        text-align: center;
        color: white!important;
        display: block;
    }

    footer .footerTechnologyText {
        display: block;
        text-align: center;
        color: white!important;
       
    }

    footer .footerProductsText {
        display: block;
        text-align: center;
        color: white!important;
    }

    footer .fa-building {
        font-size: 2em;
        color: rgb(79, 169, 229);
    }
    
    footer .fa-broadcast-tower {
        font-size: 2em;
        color: rgb(79, 169, 229);
    }
    
    footer .fa-broadcast-tower:hover, .fa-briefcase:hover, .fa-building:hover {
        transform: scale(1.3);
    }
    
    footer .fa-briefcase {
        font-size: 2em;
        color: rgb(79, 169, 229);
    }

}