footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F1F0EB!important;
    width: 100%;
    height: auto;
    padding-top: 1em;
    font-family: 'Roboto Condensed'!important;
    bottom: 0;
}

.footer-wrapper {
    font-family: 'Roboto Condensed'!important;
    margin-left: 4em;
    margin-top: 1em;
}


.footerCompanyText h4 {
    margin: 1em;
}

.footerTechnologyText h4 {
    margin: 1em;
}

.footerProductsText h4 {
    margin: 1em;
}

.footerCompanyText h3 {
    margin-top: 1.5em!important;
    color:rgb(79, 169, 229);
}

.footerTechnologyText h3 {
    margin-top: 2.5em!important;
    color:rgb(79, 169, 229);
}

.footerProductsText h3 {
    margin-top: 2.5em!important;
    color:rgb(79, 169, 229);
}

.footerLogo{
    width: 100%;
    display: flex;
  
}

.footerLogo img{
    width: 13em;
    height: 4em;
    margin-top: 0.5em;
 }

.footerArrow {
    z-index: 2;
    position: absolute;
    top: -0.1em;
    width: 3em;
    height: 3em;
    left: 1em;
    outline: white;
} 

.adressInfo h3 {
    color:rgb(79, 169, 229);
}

.adressInfo {
    padding-top: 1em!important;
    margin-top: 2em;
    width: auto;
    margin-left: 1.5em;
    color: rgb(75, 78, 84);
}

/* Social media on footer, icons etc styling */
.socialMediaIcons {
    width: auto;
    margin-top: 1em;
    margin-left: 1.5em;
    color: #0077B5; 
    padding-bottom: 2em;
}

.socialMediaIcons .fa-linkedin-in {
    color: #0077B5;
    font-size: 1.5em;
}

.socialMediaIcons .fa-twitter {
    font-size: 1.5em;
    padding-left: 0.4em;
}

.socialMediaIcons .fa-envelope {
    color: #333;
    font-size: 1.5em;
    padding-left: 0.4em;
}

.fa-angle-up {
    color: rgb(118, 185, 230)!important;
}

.fa-angle-up:hover {
    color: rgb(75, 78, 84)!important;
}

/* do not display this footer text in mobile version */

.footer-wrapper h2 {
    color: rgb(75, 78, 84)!important;
}

/* Copyright and our credits */
.copyRight {
    height: auto;
    width: 100%;                
    background-color: rgb(4, 0, 37);
    color: #bfbfbf;
    text-align: center;
}

.copyRight h6 {
    font-size: 0.9em;
    margin: 0;
    line-height: 2em;
    text-align: center;
}

/* These styles activates when screen goes OVER 768 pixels */
@media screen and (min-width: 768px) {
    footer {
        padding-top: 0.4em;
    }
    footer .footerLogo img {
        width: 18em;
        margin: auto!important;
        height: 5em; 
    }

    .footer-wrapper {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        margin-bottom: 2em!important;
        margin-top: 2em!important;
    }

    .fa-linkedin-in { 
        color: #0077B5;
    }

    .socialMediaIcons .fa-twitter {  
        color: rgb(29, 161, 242);
        padding: 0;
    }
    
   .socialMediaIcons .fa-envelope {  
        color: black;
        padding: 0;
    }

    footer .fa-envelope:hover, .fa-twitter:hover, .fa-linkedin-in:hover {
        transform: scale(1.3);
    }

    footer .socialMediaIcons {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 0!important;
        margin-top: 2em;
    }

    footer .adressInfo {
        text-align: center;
        width: auto;
       
    }

    footer .footerCompanyText {
        color: rgb(75, 78, 84);
        width: 20em;
        border-right: 1px solid #a6a6a6;
    }

    footer .footerTechnologyText {
        color: rgb(75, 78, 84);
        width: 20em;
        border-right: 1px solid #a6a6a6;
    }

    footer .footerProductsText {
        color: rgb(75, 78, 84);
        width: 20em;
        border-right: 1px solid #a6a6a6;
    }

    .footerCompanyText h3 {
        margin-top: 1.5em!important;
    }
    
    .footerTechnologyText h3 {
        margin-top: 1.5em!important;
    }
    
    .footerProductsText h3 {
        margin-top: 1.5em!important;
    }

    .footerCompanyText h4 {
        margin: 0.5em;
    }
    
    .footerTechnologyText h4 {
        margin: 0.5em;
    }
    
    .footerProductsText h4 {
        margin: 0.5em;
    }

}