@media screen and (min-width: 1025px) {

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #F1F0EB!important;
    width: 100%;
    height: auto;
    padding-top: 1em;
    font-family: 'Roboto Condensed'!important;
    bottom: 0;
}

.footer-wrapper {
    font-family: 'Roboto Condensed'!important;
    margin-left: 4em;
    margin-top: 1em;
}

.footerCompanyText h3 {
    margin-top: 1.5em!important;
    color:rgb(79, 169, 229);
}

.footerTechnologyText h3 {
    margin-top: 2.5em!important;
    color:rgb(79, 169, 229);
}

.footerProductsText h3 {
    margin-top: 2.5em!important;
    color:rgb(79, 169, 229);
}


.footerArrow {
    z-index: 2;
    position: absolute;
    top: -0.1em;
    width: 3em;
    height: 3em;
    left: 1em;
    outline: white;
} 

.adressInfo h3 {
    color:rgb(79, 169, 229);
}

.adressInfo {
    padding-top: 1em!important;
  
    width: auto;
  
    color: rgb(75, 78, 84);
}

/* Social media on footer, icons etc styling */
.socialMediaIcons {
    width: auto;
    margin-left: 1.5em;
    color: #0077B5; 
    padding-bottom: 2em;
}

.socialMediaIcons .twitter {
    font-size: 2em;
    color: #1da1f2;
}

.socialMediaIcons .linkedin {
    color: #0077B5;
    font-size: 2em;
}

.socialMediaIcons .envelope {
    color: #333;
    font-size: 2em;
  
}

/* do not display this footer text in mobile version */

.footer-wrapper h2 {
    color: rgb(75, 78, 84)!important;
}

/* Copyright and our credits */
.copyRight {
    height: auto;
    width: 100%;                
    background-color: rgb(4, 0, 37);
    color: #bfbfbf;
    text-align: center;
}

.copyRight h6 {
    font-size: 0.9em;
    margin: 0;
    line-height: 2em;
    text-align: center;
} 
}

/* Mobile device */
@media screen and (max-width: 767px) {
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #F1F0EB!important;
        width: 100%;
        height: auto;
        padding-top: 1em;
        font-family: 'Roboto Condensed'!important;
        bottom: 0;
    }
    
    .footer-wrapper {
        font-family: 'Roboto Condensed'!important;
        margin-left: 4em;
        margin-top: 1em;
    }
    
    .fa-angle-up {
       color: #ddd;
        
    }
    
    .fa-angle-up:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    
    
    .footerCompanyText h3 {
        margin-top: 1.5em!important;
        color:rgb(79, 169, 229);
    }
    
    .footerTechnologyText h3 {
        margin-top: 2.5em!important;
        color:rgb(79, 169, 229);
    }
    
    .footerProductsText h3 {
        margin-top: 2.5em!important;
        color:rgb(79, 169, 229);
    }
    
    
    .footerArrow {
        z-index: 2;
        position: absolute;
        top: -0.1em;
        width: 3em;
        height: 3em;
        left: 1em;
        outline: white;
    } 
    
    .adressInfo h3 {
        color:rgb(79, 169, 229);
    }
    
    .adressInfo {
        margin-top: 2em;
        width: auto;
        color: rgb(75, 78, 84);
        font-size: 1.2em;
    }
    
    /* Social media on footer, icons etc styling */
    .socialMediaIcons {
        width: auto;
        margin-top: 2em;
        padding-bottom: 2em;
    }
    
    .socialMediaIcons .linkedin {
        color: #0077B5;
        font-size: 2em;
    }
    .socialMediaIcons .twitter {
        color: #1da1f2;
        font-size: 2em; 
    }
    .socialMediaIcons .envelope {
        color: #333;
        font-size: 2em;    
    }
    
    /* do not display this footer text in mobile version */
    .footer-wrapper h2 {
        color: rgb(75, 78, 84)!important;
    }
    
    /* Copyright and our credits */
    .copyRight {
        height: auto;
        width: 100%;                
        background-color: rgb(4, 0, 37);
        color: #bfbfbf;
        text-align: center;
    }
    
    .copyRight h6 {
        font-size: 0.9em;
        margin: 0;
        line-height: 2em;
        text-align: center;
    }

    .footerTechnologyText h4{
        margin: 0;
        color: rgb(75, 78, 84);
    }
    .footerProductsText h4{
        margin: 0;
        color: rgb(75, 78, 84);
    }
    .footerCompanyText h4{
        margin: 0;
        color: rgb(75, 78, 84);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #F1F0EB!important;
        width: 100%;
        height: auto;
        padding-top: 1em;
        font-family: 'Roboto Condensed'!important;
        bottom: 0;
    }
    
    .footer-wrapper {
        font-family: 'Roboto Condensed'!important;
        margin-left: 4em;
        margin-top: 1em;
    }
    
    .fa-angle-up {
       color: #ddd;
        
    }
    
    .fa-angle-up:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    .footerCompanyText h3 {
        margin-top: 1.5em!important;
        color:rgb(79, 169, 229);
    }
    
    .footerTechnologyText h3 {
        margin-top: 2.5em!important;
        color:rgb(79, 169, 229);
    }
    
    .footerProductsText h3 {
        margin-top: 2.5em!important;
        color:rgb(79, 169, 229);
    }
    
    
    .footerArrow {
        z-index: 2;
        position: absolute;
        top: -0.1em;
        width: 3em;
        height: 3em;
        left: 1em;
        outline: white;
    } 
    
    .adressInfo h3 {
        color:rgb(79, 169, 229);
    }
    
    .adressInfo {
        padding-top: 1em!important;
      
        width: auto;
      
        color: rgb(75, 78, 84);
    }
    
    /* Social media on footer, icons etc styling */
    .socialMediaIcons {
        width: auto;
        margin-left: 1.5em;
        color: #0077B5; 
        padding-bottom: 2em;
       
       
    }
    
    .socialMediaIcons .fa-linkedin-in {
        color: #0077B5;
        font-size: 1.5em;
    }
    
    .socialMediaIcons .fa-twitter {
        font-size: 1.5em;
        padding-left: 0.4em;
    }
    
    .socialMediaIcons .fa-envelope {
        color: #333;
        font-size: 1.5em;
        padding-left: 0.4em;
    }
    
    /* do not display this footer text in mobile version */
    
    .footer-wrapper h2 {
        color: rgb(75, 78, 84)!important;
    }
    
    /* Copyright and our credits */
    .copyRight {
        height: auto;
        width: 100%;                
        background-color: rgb(4, 0, 37);
        color: #bfbfbf;
        text-align: center;
    }
    
    .copyRight h6 {
        font-size: 0.9em;
        margin: 0;
        line-height: 2em;
        text-align: center;
    }
}
