header {
    width: 100%;
    height: 6em;
    overflow: hidden;
    transition: height 0.8s;
}
.fullscreen {
    height: 100vh!important;
   background-color: rgb(79, 169, 229);
} 

.nav-logo img{
    float: left;
    height: 6em;
    width: 18em;
    padding: 0.5em;
}

.logo-nav-wrapper {
    background-color: white;
    height: 7em;
    width: 100%;
    float: left;
}

.menu-button {
    color: rgb(79, 169, 229);
   float: right;
   padding: 1em;
} 
nav {
    height: 4em;
    width: 100%;
    border: 1px solid red;
}

nav ul {
    margin-top: 3em;
    padding: 0;
    padding-top: 3em;
}
nav ul li {
    display:inline;
    font-size: 1.2em;
}
nav ul li a:hover {
    color:black;
    
}
nav ul li a {
    display:block;
    padding:15px 25px;
    color:black;
}
nav ul li ul {
    position:absolute;
    border-top: 2px solid rgb(79, 169, 229);
    width: 200px;
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
nav ul li ul li {
    width:110px;
}
nav ul li ul li a {
    display:block;
    padding:15px 10px;
    color:black;
}
nav ul li ul li:hover a {
    background-color: white;
}
nav ul li ul.fallback {
    display:none;
}
nav ul li:hover ul.fallback {
    display:block;
}

@media screen and (min-width: 768px) {
    header .nav-logo img{
        width: 100%;
        padding: 0.5em;
    }

    header .logo-nav-wrapper {
        background-color: white;
        width: 25%;
        float: left;
        
    }

    nav {
        background-color: white;
        width: 75%;
       
      
    }
nav ul {
   
    
}
    
    nav ul li {
       float: left;
        font-size: 1.2em;
    }
    nav ul li a:hover {
        color: rgb(79, 169, 229) !important;
        
    }
    nav ul li a {
        display:block;
        padding:15px 25px;
        color:#444;
    }
    nav ul li ul {
        position:absolute;
        border-top: 2px solid rgb(79, 169, 229);
        width: 200px;
        background: white;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    nav ul li ul li {
        width:110px;
    }
    nav ul li ul li a {
        display:block;
        padding:15px 10px;
        color:#444;
    }
    nav ul li ul li:hover a {
        background-color: white;
    }
    nav ul li ul.fallback {
        display:none;
    }
    nav ul li:hover ul.fallback {
        display:block;
    }
    
    .active {
        color: rgb(79, 169, 229);
    }

    header .menu-button {
        display: none!important;
    }

    header {
        height: 7em;
    }

    .nav-logo img{
        height: 6em;
        width: 22em;
    }

    .active {
        color: rgb(79, 169, 229);
    }
}

