 /* Main home content */
 main {
    background: linear-gradient( rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0) ), url("../images/huskvarna-2378745_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
}

.home-wide-bg {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-top: 10em;
    text-shadow: 0px 1px 0px #000;
    
}


.wide-text-content {
    height: 40em;
    width: 100%;
    background-image: url("../images/sunrise-3808121_1920.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    font-family: 'PT Sans', sans-serif!important;
}

.wide-text-content h1 {
    margin: 0;
    font-weight: bold;
    color: #22AAEB;
    text-align: center;
}

.wide-text-content h3 {
    text-align: center;
    width: 50%;
    font-weight: 100;
    color: rgb(235, 205, 34);
    line-height: 1.5em;
}

.wide-text-btn {
    margin-top: 1em!important;
    background-color:#22AAEB!important;
    font-size: 3em;
    color: #fff!important;
    transition: all 0.3s ease 0s!important;
    font-family: 'PT Sans', sans-serif!important;
}

.wide-text-btn:hover {
    transform: translateY(-7px);
    border: 1px solid white!important;
    background-color:rgba(0, 0, 0, 0.077)!important;
  }


.content a:hover {
   text-decoration: underline;
}

.content .header {
    font-family: 'PT Sans', sans-serif!important;
    color: #33adff!important;
}

.h1-bg{
    font-size: 2em;
    color: #fff;
    margin: 1;
    font-family: 'PT Sans', sans-serif!important;
}

.description-bg {
    font-size: 2em;
    color: #fff;
    font-family: 'PT Sans', sans-serif!important;
}

.home-wide-btn {
    background-color: #22AAEB!important;
    font-size: 3em;
    color: #fff!important;
    transition: all 0.3s ease 0s!important;
    font-family: 'PT Sans', sans-serif!important;
}

.home-wide-btn:hover {
    transform: translateY(-7px);
  }

.cards-container {
    padding-bottom: 6em!important;
    margin-top: -5em!important;
}

.description p {
    color: #333;
    font-size: 1.3em;
    margin-top: 1em;
}

.margin-fix-cards {
    margin-top: 2em!important;
    margin-bottom: 3em!important;
}




