/* Mobile css */

main {
    background-size: cover;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
}

.main-section-wrapper-one {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
}

.main-section-wrapper-two {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
}

.main-section-wrapper-three {
    margin: 0.5em;
    display: flex;
    flex-direction: row;  
    border: 1px solid #ddd;
}

.main-section-wrapper-four {
    margin: 0.5em;
    display: flex;
    flex-direction: row; 
    border: 1px solid #ddd;
}


/* ska vi ha column eller flex wrap på mobile? */
.main-content-section-one {
    background-image: url("../images/new-york-city-night.jpg");
    background-size: cover;
    height: auto;
    text-align: center;
    width: 60%;
}

.main-content-section-one-text {
    width: 40%;
    height: auto;
    padding-top: 2em;
    padding-left: 1em;
}

.main-content-section-two {
    background-image: url("../images/send-system-999245_1920.jpg");
    background-size: cover;
    height: auto;
    text-align: center;
    width: 60%;
}

.main-content-section-two-text {
    width: 40%;
    height: auto;
    padding-top: 2em;
    padding-left: 1em;
}

.main-content-section-three {
    background-image: url("../images/coreValuesPictures.jpg");
    background-size: cover;
    height: auto;
    text-align: center;
    width: 60%;
}

.main-content-section-three-text {
    width: 40%;
    height: auto;
    padding-top: 2em;
    padding-left: 1em;
}


.main-content-section-four {
    background-image: url("../images/tianjin-2185510_1920.jpg");
    background-size: cover;
    height: auto;
    text-align: center;
    width: 60%;
}

.main-content-section-four-text {
    width: 40%;
    height: auto;
    padding-top: 2em;
    padding-left: 1em;
}


.main-header-text{
    color: rgb(79, 169, 229);
    text-align: center;
    margin-top: 0.5em;
}

main .section-button {
    margin-top: 5em!important;
    margin-right:0!important;
    float: right;
    text-decoration: underline!important;
}

/* tablet css */

@media screen and (min-width: 768px) {
main {
   display: flex!important;
   flex-wrap: wrap!important;

}

.main-section-wrapper-one {
    width: 50%;
    margin: 0;
}
.main-section-wrapper-two {
    width: 50%;
    margin: 0;
}
.main-section-wrapper-three {
    width: 50%;
    margin: 0;
}
.main-section-wrapper-four {
    width: 50%;
    margin: 0;
}
main .section-button {
    width: 6em;
    margin: 0;
}
}