
/* Mobile only */
@media screen and (max-width: 768px) {
    .press-container .press-side-bar {
        display: none;
    }
    .contact-container {
        padding: 0!important;
    }

    .contact-form {
        margin-top: 0!important;
    }
}
