/********** PRESS *************/

.press-container {
    width: 70%;
    padding: 1em;
    margin-top: 1em;
}

.press-container h1{
    background-color: rgb(13, 8, 67);
    color: #fff;
    padding: 0.5em;
}

.press-container .press-post {
    padding: 2em;
   
}

.display-press-release {
    font-size: 0.8em;
    color: #22AAEB;
}

.press-post {
    width: 100%;
    padding: 2em;
}

.press-description {
    max-width: 50em;
    font-size: 1.2em;
    line-height: 1.5em;
}

article {
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
}
