@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }

    /* #header {
        height: 6em;
        display: flex;
        z-index: -1;
        margin: 0;

    }     */
    /* header .logo img {
        padding-left: 1em;
        padding-top: 0.5em;
        width: 20em;
        height: 5em;
    }

    header .logo{
        width: 30%;
    } */

   

    /* header .navBar {
        margin-top: 1em;
        height: 4.8em;
        width: 100%;
        /* background-color: rgb(79, 169, 229); */
       /*  background-color: white;        
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        padding-right: 1em;
        padding-top: 0; */
        
        /*  header .navBar li a{
            font-family: 'Roboto Condensed', sans-serif;
            text-decoration: none;
            display: block;
            padding: 0.5em;
            white-space: nowrap;
        } */
        
        /*  header .navBar li a:hover{
            color: rgb(79, 169, 229) !important;
        } */
        
        /* Länken du är inne på */
        /*  .active{
            color: rgb(79, 169, 229) !important;
        } */
        
        /* Underkatalog box */
        /*  ul .dropDown {
            margin-top: 0.7em;
            border-top: 3px solid #333;
            background-color: white;
            display: none;
            position: absolute;
            width: 16em;
            -webkit-box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
            box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        } 
        */
        main {
            height: auto;
            width: 100%;
            background-size: cover;
        }
        
        .home-wide-background {
            background-size: cover;
            height: 45em!important;
        }
        
        section .smart-cities-button {
            margin-top: 0!important;
            
        }
        
        main .main-content-section-one {
            height: 30em;
            width: 35em;
            flex-grow: 2;
        }
        
        main .main-content-section-two {
            height: 30em;
            width: 35em;
            flex-grow: 1;
        }
        
        main .main-content-section-three {
            height: 30em;
            width: 35em;
            flex-grow: 1;
        }
        
        main .main-content-section-four {
            height: 30em;
            width: 35em;
            flex-grow: 2;
        }
        
        main .section-button {
            margin-top: 16em!important;
        }
        
        /* .main-content-section-two {
            height: 28em!important;
            width: 45em;
            text-align: center;
        }
        
        .main-content-section-three {
            height: 28em!important;
            width: 45em;
            text-align: center;
        }
        
        .main-content-section-four {
            height: 28em!important;
            width: 45em;
            text-align: center;
        }
        
        .main-content-section-awards {
            
            width: 30em;
            height: 28em!important;
        }
        
        .main-content-section-text {
            width: 30em;
            display: flex;
            justify-content: wrap;
        } */
    }
        
        
        