    body {
        margin: 0;
    }

    .video-player {
        margin: 0;
        padding: 0;
        height: auto!important;
 
    }

    video {
        height: auto;
        width: 100%;
    }
        
    /* jag vet  vad vi ska gör här!*/
    .home-wide-background {
        background-image: url("/images/homeWideBackgroundPicture.jpg");
        font-family: 'Roboto Condensed', sans-serif;
        background-size: cover;
        height: 15em;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:stretch;
      
    }
    
     .home-wide-background h1 {
        font-family: 'Roboto Condensed', sans-serif!important;
        color: white;
        height: auto;
        text-align: center;
    }
    
    .smart-cities-button {
        display: none!important;
    }

    /* .over-footer-wrapper {
        background-color: rgb(179, 199, 230);
    } */

    .software-image {
        height: 18em;
        width: auto;
        background-image: url("/images/softwarePicture.jpg");
        background-size: cover;
        margin: 1em;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    }

    .hardware-image {
        height: 18em;
        width: auto;
        background-image: url("/images/hardwarePicture.jpg");
        background-size: cover;
        margin: 1em;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    }

    .flexibility-image {
        height: 18em;
        width: auto;
        background-image: url("/images/flexibilityPicture.jpg");
        background-size: cover;
        margin: 1em;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    }

    .over-footer-wrapper h3 {
        color: rgb(79, 169, 229);
    }


    .over-footer-text-software p{
        font-size: 1.5em;
        padding-top: 0.3em;
        margin-left: 0.8em;
    }

    .over-footer-text-hardware p {
        font-size: 1.5em;
        padding-top: 0.3em;
        margin-left: 0.8em;
    }

    .over-footer-text-flexibility p{
        font-size: 1.5em;
        padding-top: 0.3em;
        margin-left: 0.8em;
    }

    .over-footer-text-software {
        margin-top: 6em;
    }    
    
    .over-footer-text-hardware{
        margin-top: 5em;
    }

    .over-footer-text-flexibility {
        margin-top: 5em;
        margin-bottom: 1em;
    }
    
    .over-footer-text-software h3 {
        margin-left: 0.8em;
    } 

    .over-footer-text-hardware h3 {
        margin-left: 0.8em;
    }

    .over-footer-text-flexibility h3 {
        margin-left: 0.8em;
    }


/* Login wrapper */
    .emptyOverHeaderContainer {
        height: 3em;
        display: flex;
        justify-content: flex-end;
        background-color: rgb(79, 169, 229);
        display: flex;
        justify-content: flex-end;
    }

    .loginButton {
        height: 3em;
        margin-right: 0.7em;
    }

    .scrollUpArrow {
        height: 3em;
        display: flex;
        justify-content: flex-end;
    }

    .fa-angle-up {
        width: 1em;
        color: rgb(79, 169, 229);
    }

    .fa-angle-up:hover{
        color: #333;
        cursor: pointer;
    }
   
    .emptyOverHeaderContainer button{
        padding: 0!important;
        margin-top: 1em!important;
        width: 7.5em!important;
        font-size: 0.8em!important;
        margin-bottom: 1em!important;
    }

    .emptyOverHeaderContainer span {
        margin-top: 0.2em !important;
        margin-left: -0.8em!important;
    }

    .actions {
        background-color: #ddd!important;
    }

    /* vad ska vi ha här? .signInTextStyle {
       
    } */

    .containerUsernameAndPassword input{
        width: 10em;
        padding: 0.8em;
        margin-top: 1em;
        font-size: 1.2em;
    }

    .containerUsernameAndPassword button{
       margin-top: 1em!important;
       margin-bottom: 0.5em!important;
       align-items: center;
    }

    .containerUsernameAndPassword {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .description p {
        text-align: center;
        color: #333;
        font-size: 1.3em;
        margin-top: 1em;
    }
   