@media screen and (min-width: 768px) {
    .video-player {
        height:auto;
        width:auto;
        overflow:hidden;
    }
    .video-player > video {
        min-width: 100%;
        min-height: 100%;
    }
    
       .above-main-section {
           height: 30em;
           display: flex;
           flex-direction: row!important;
       }

       .main-section-1 {
           border: 1px solid red;
           height: 30em!important;
       }

       .main-section-2 {
            border: 1px solid red;
            height: 30em!important;
       }

    }
        
        
        