@media screen and (min-width: 768px) {
    .video-player {
        height: auto;
        width: auto;
        border: 5px solid red;
        margin: 0;
    }
    
    .above-main-section {
        height: 30em;
        display: flex;
        flex-direction: row!important;
        margin-bottom: 3em;
        margin-top: 3em;
    }

    .main-section-1 {
        border: 1px solid red;
        height: 30em!important;
    }

    .main-section-2 {
        border: 1px solid red;
        height: 30em!important;
    }

}
        
        
        