    body {
        margin: 0;
    }

    video {
        height: auto;
        width: auto;
    }

    .video-player {
        margin: 0;
        padding: 0;
        height: auto!important;
    }

    video {
        height: auto;
        width: 100%;
    }

    .above-main-section {
        display: flex;
        flex-direction: column;
        justify-content: left;
        color: white;
        text-align: center;
    }

    .above-main-section h2 {
        margin: 0.4em!important;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .main-section-1 {
        background-image: url("/images/homeWideBackgroundPicture.jpg");
        background-size: cover;
        height: 15em;
        width: 100%;
        border: 0.2em solid white;
    }

    .main-section-2 {
        background-image: url("/images/antennas-for-homewidebackground.jpg");
        background-size: cover;
        height: 15em;
        width: 100%;
        border: 0.2em solid white;
    }

    .smart-cities-button {
        font-family: 'Roboto Condensed', sans-serif!important;
        background-color: rgb(79, 169, 229)!important;
        color: white!important;
        border: 0.1em solid white!important;
    }


/* Blue empty container on the top */
    .emptyOverHeaderContainer {
        height: 3em;
        display: flex;
        justify-content: flex-end;
        background-color: rgb(79, 169, 229);
        display: flex;
        justify-content: flex-end;
    }

    .loginButton {
        height: 3em;
        margin-right: 0.7em;
    }

    .scrollUpArrow {
        height: 3em;
        display: flex;
        justify-content: flex-end;
    }

    .fa-angle-up {
        width: 1em;
        color: rgb(79, 169, 229);
    }

    .fa-angle-up:hover{
        color: #333;
        cursor: pointer;
    }
   
    .emptyOverHeaderContainer button{
        padding: 0!important;
        margin-top: 1em!important;
        width: 7.5em!important;
        font-size: 0.8em!important;
        margin-bottom: 1em!important;
    }

    .emptyOverHeaderContainer span {
        margin-top: 0.2em !important;
        margin-left: -0.8em!important;
    }

    .actions {
        background-color: #ddd!important;
    }

    /* vad ska vi ha här? .signInTextStyle {
       
    } */

    .containerUsernameAndPassword input{
        width: 10em;
        padding: 0.8em;
        margin-top: 1em;
        font-size: 1.2em;
    }

    .containerUsernameAndPassword button{
       margin-top: 1em!important;
       margin-bottom: 0.5em!important;
       align-items: center;
    }

    .containerUsernameAndPassword {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .description p {
        text-align: center;
        color: #333;
        font-size: 1.3em;
        margin-top: 1em;
    }
   