@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        background-color: red!important;
    }

    .section-container-products {
        margin: 1em!important;
        display: flex;
        border: 0.1em solid rgb(169, 177, 182);
        border-radius: 0.2em;
        justify-content: center;
    }
    
    .information-about-product-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        margin: 0;
        color: red!important;
    }

}