@media screen and (min-width: 768px) and (max-width: 1025px) {
    body {
        margin: 0;
    }

    /* Press release */
    .press-container .press-side-bar {
        display: none;
    }

    /* Contact us */
    .contact-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-right: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8) ), url("../images/weareHiring.jpg");
    }

    .contact-form {
        margin-top: 0!important;
        padding: 3em;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .home-wide-bg {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url("../images/mainSectionPicture.jpg");
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .h1-bg {
        font-size: 3em;
        text-align: center;
        color: white;
        margin: 0;
        padding-top: 3em;
    }

    .description-bg {
        text-align: center;
        font-size: 2em;
        color: white;
    }

    .home-wide-btn {
        background-color: rgb(79, 169, 229)!important;
        font-size: 3em;
        width: 12em;
        color: white!important;
    }

    .cards-container {
        margin-top: 3em !important;
        margin-bottom: 3em!important;
    }

    .loginButton {
        height: 3em;
        margin-right: 0.7em;
    }
   
    .emptyOverHeaderContainer button{
        padding: 0!important;
        margin-top: 1em!important;
        width: 7.5em!important;
        font-size: 0.8em!important;
        margin-bottom: 1em!important;
    }

    .emptyOverHeaderContainer span {
        margin-top: 0.2em !important;
        margin-left: -0.8em!important;
    }

    .actions {
        background-color: #ddd!important;
    }
    
    .containerUsernameAndPassword input{
        width: 10em;
        padding: 0.8em;
        margin-top: 1em;
        font-size: 1.2em;
    }
    
    .containerUsernameAndPassword button{
        margin-top: 1em!important;
        margin-bottom: 0.5em!important;
        align-items: center;
    }
    
    .containerUsernameAndPassword {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .description p {
        color: #333;
        font-size: 1.3em;
        margin-top: 1em;
    }
    
    .contact-container h1{
        text-align: center;
        padding: 0.4em;
        margin: 0;
    }
    
    .contact-container img{
        width: 15em;
        margin: 0 auto;
        padding-bottom: 2em;
        
        
    }
    .contact-container input, textarea{
        background-color: #f7f7f7!important;
        color: #f7f7f7;
    }
    
    /* product container */
    .container-for-product-sheet {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .headerForProducts {
        margin-top: 0.5em!important;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
    }
    
    .container-for-product-picture img {
        height: 30em;
    } 

    .image {
        text-align: center;
    }

    .information-about-product-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.2em;
        padding: 1em;
    }

    /* this is the specification buttons for prodcuts */

    .key-features-btn {
        background-color: rgb(79, 169, 229);
        font-size: 1.4em;
        height: 2em;
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 0.3em;
        margin: 0.3em;
        color: white;
        outline: none;
    }

    .data-sheet-btn {
        background-color: rgb(79, 169, 229);
        color: white;
        font-size: 1.4em;
        border-radius: 0.3em;
        height: 2em;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 0.3em;
        outline: none;
    }

    .container-for-more-information {
        width: 100%;
    }

    .container-for-buttons {
        text-align: center;
        width: 100%;
    }

    /* divs should switch inbetween depending on which you click */
    .key-features, .data-sheet  {
        display: none;
        margin-top: 1em;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.4em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
    }

    .key-features-btn:hover, .data-sheet-btn:hover {
        background-color: white;
        color: rgb(79, 169, 229);
        cursor: pointer;
    } 

    .key-features-list li {
        list-style: none;
        margin: 0.5em;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .data-sheet a {
        color: rgb(79, 169, 229);
        text-decoration: underline;
    }

    .hidden-text-product {
        display: none;
    }

    .show-more-text-btn {
        text-decoration: underline;
        margin-bottom: 1em;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .show-less-text-btn {
        text-decoration: underline;
        margin-bottom: 1em;
        font-family: 'Roboto Condensed', sans-serif;
        display: none;
    }

    /* Press site */
    .press-container {
    flex-wrap: wrap;
        display: flex;
        width: 100%;
        padding: 1em;
    }

    .press-release-header {
        padding-left: 1.5em;
    }

    .press-side-bar {
        border: 1px solid #ddd;
        width: 20%;
        padding: 1em;
    }

    .press-side-bar a{
        color: #333;
    
    }

    .press-post {
        width: 100%;
        padding: 2em;
        border: 1px solid #ddd;
    }

    .press-description {
        max-width: 50em;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    article {
        border-bottom: 1px solid #ddd;
        margin-top: 2em;
    }

    .margin-fix-cards {
        margin: 0!important;
    }

    .press-container .press-side-bar {
        display: none;
    }
}