@media screen and (min-width: 768px) {

    #header {
        height: 6em;
        display: flex;
        z-index: -1;
        margin: 0;

    }    
    header .logo img {
        padding-left: 1em;
        padding-top: 0.5em;
        width: 20em;
        height: 5em;
    }

    header .logo{
        width: 30%;
    }

    header .menu-button {
        display: none;
    }

    header .navBar {
        margin-top: 1em;
        height: 4.8em;
        width: 100%;
        /* background-color: rgb(79, 169, 229); */
        background-color: white;        
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        padding-right: 1em;
        padding-top: 0;
    }
    
    header .navBar li a{
        font-family: 'Roboto Condensed', sans-serif;
        text-decoration: none;
        display: block;
        padding: 0.5em;
        white-space: nowrap;
    }

    /* header .navBar li a:hover{
        
    } */
    
    /* Länken du är inne på */
    .active{
        color: rgb(79, 169, 229) !important;
    }
    
    /* Underkatalog box */
    header li ul {
        margin-top: 0.7em;
        border-top: 3px solid #333;
        display: none;
        position: absolute;
        width: 16em;
        padding: 0; 
        list-style: none;
        text-align: left;
        font-family: 'Roboto Condensed', sans-serif;
        white-space: nowrap;
        -webkit-box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
        box-shadow: -1px 13px 37px -8px rgba(0,0,0,0.75);
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background-color: white;
        border-right: 1px solid #ddd;
    }
    
    header ul li:hover > ul,
    header ul li ul:hover {
        display: block;
       
    }

    header ul li a:hover {
        color: rgb(79, 169, 229);
    }

    header .dropDown li a{
        margin-left: 0.5em;
        padding: 0;
    }

}