    body {
        margin: 0;
    }

    .emptyOverHeaderContainer {
        height: 3em;
        display: flex;
        justify-content: flex-end;
        background-color: rgb(79, 169, 229);
        display: flex;
        justify-content: flex-end;
    }

    .loginButton {
        height: 3em;
        margin-right: 0.7em;
    }

    .logo {
        margin-top: 0.1em;
        margin-left: 0.5em;
        width: 75%;
        float: left;
    }

    .logo img {
        width: 60%;
        padding-top: 0.4em;
    }

    header {
        height: 4em;
        overflow: hidden;
        background-color: white;
        transition: height 1000ms 0ms; 
        padding-bottom: 1.5em;
        border-bottom: 1px solid #ddd;
    }

    header.fullscreen {
        height: 100vh;
    }
    
    .navBar {
        overflow: hidden;
        width: auto;
        height: 100%;
        padding-top: 1em;
        padding-left: 0;
        text-align: center;
        background-color: rgb(79, 169, 229);
    }
    
    .navBar li a{
        list-style-type: none;
        font-size: 1.4em;
        font-family: 'Roboto Condensed', sans-serif;
        line-height: 2em;
        text-decoration: none;
        color: black;
    }

    .menu-button {
        font-size: 2em;
        margin-left: 1em;
        color: rgb(79, 169, 229);
    }

    .menuParent {
        margin-top: 1em;
    }

    .content {
        height: 40em;
    } 

    .scrollUpArrow {
        height: 3em;
        display: flex;
        justify-content: flex-end;
    }

    .fa-angle-up {
        width: 1em;
        color: rgb(79, 169, 229);
    }
   
